@import "../styles/reset";
//@import "../styles/jqui";
@import "../styles/default";

#achievements {
  float: right;
  width: 240px;
  height: 480px;
  overflow: auto;
}

#achievements li {
  min-height: 120px;
  background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(69, 69, 69) 75%, rgb(112, 112, 112) 100%);
  border-radius: 10px;
  position: relative;

  img {
    opacity: 0.2;
    float: left;
    margin-left: 5px;
    border: 5px solid rgba(150, 150, 150, 0.5);
  }

  h2 {
    font-size: 24px;
    color: rgba(150, 150, 150, 0.5);
  }

  p {
    display: none;
  }

  &.done {
    img {
      opacity: 1;
    }

    h2 {
      color: white;
    }

    p {
      display: block;
    }
  }
}
